:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .container {
}

header .logo {
    color: var(--vermelho);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
